<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin.user.repository.base.dao.UserAlbumMapper">
  <select id="getByIndex" resultMap="BaseResultMap">
    select *
    from user_album
    where user_id = #{id,jdbcType=BIGINT}
    limit #{index,jdbcType=BIGINT},1
  </select>
</mapper>